li.todo {
    list-style: none;
    border: 1px solid #dedede;
    box-shadow: 0 0 5px #dedede;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

li.todo label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li.todo label .name__input {
    display: flex;
    align-items: center;
}

li.todo label .todo__name {
    margin-left: 20px;
}

li.todo label.done .todo__name {
    text-decoration: line-through;
}

li.todo label .todo__remove {
    border: 3px solid #61dafb;
    background-color: transparent;
    padding: .65em .75em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s;
}

li.todo label .todo__remove:hover {
    background-color: #61dafb;
    color: #fff
}