*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 90%;
  margin: 20px auto;
}

::selection {
  background-color: #282c34;
  color: #61dafb;
}

a {
  text-decoration: none;
}

.btn__close {
  border: 3px solid #61dafb;
  background-color: transparent;
  padding: .65em .75em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s;
}

.btn__close:hover {
  background-color: #61dafb;
  color: #fff;
}